.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.register-title {
  margin-top: 400px;
}

.form-frame {
  border: 1.3px solid #e6e6e6;
  border-radius: 5px;
  padding: 13px;
  margin-top: 20px;
  width: 420px;    
}

.centered-frame {
  text-align: center;
}