<h1 *ngIf="absenceId">Update absence</h1>
<h1 *ngIf="!absenceId">Add absence</h1>
<form [formGroup]="absenceForm" (ngSubmit)="onSubmit()" class="form-frame">
    <div class="form-group">
      <label for="hoursInput">Hours</label>
      <input type="number" class="form-control" id="hoursInput" formControlName="hours" required>
    </div>
    <div class="form-group">
      <label for="reasonTextarea">Reason</label>
      <textarea class="form-control" id="reasonTextarea" rows="2" formControlName="reason"></textarea>
    </div>
    <button type="submit" class="btn btn-info btn-block" [disabled]="!absenceForm.valid">Submit</button>
</form>