.div-nav {
  display: flex;
  align-items: stretch;
  margin: 1%;
}

.first-row {
  display: flex;
  align-items: stretch;
}

.second-row {
  display: flex;
  align-items: stretch;
}

.row-ver {
  width: 50%;
  margin: 1%;
}

button {
  height: 45px;
}

.div-left {
  margin-left: auto;
}