<app-alert></app-alert>
<ng-container *ngIf="loading">Loading...</ng-container>
<ng-container *ngIf="!loading">
<button type="button" class="btn btn-info" (click)="addClass()">Add class</button>
<h6>Number of classes: {{classCount}}</h6>
<ng-container *ngIf="classCount !== 0">
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 3%" scope="col">No.</th>
      <th style="width: 30%" scope="col">Name</th>
      <th style="width: 62%" scope="col">Description</th>
      <th style="width: 5%" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let class of classes; let i=index">
      <th scope="row">{{i+1}}</th>
      <td><a [routerLink]="['/class', class._id, 'students']">{{class.name}}</a></td>
      <td>{{class.description}}</td>
      <td><div class="btn-group dropleft">
        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="editClass(class._id)">Edit</a>
          <a class="dropdown-item" (click)="deleteClass(class._id)">Delete</a>
        </div>
      </div></td>
    </tr>
  </tbody>
</table>
</ng-container>
</ng-container>